/* style.css */

.betreuungszeiten-BBS {
  display: flex;
  flex-direction: column;
  min-height: 1100px;
  align-items: flex-start;
  position: relative;
  background-color: #f5f5f2;
}

.betreuungszeiten-BBS .hauptnavigation {
  display: flex;
  height: 88px;
  align-items: center;
  gap: 32px;
  padding: 0px 48px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #dddddd;
}

.betreuungszeiten-BBS .BBS-einbeck-logo {
  position: relative;
  width: 160px;
  height: 60px;
}

.betreuungszeiten-BBS .trennlinie {
  position: relative;
  width: 1px;
  height: 32px;
  background-color: #dddddd;
}

.betreuungszeiten-BBS .text-wrapper {
  position: relative;
  width: fit-content;
  font-family: "Carlito", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.betreuungszeiten-BBS .bereiche {
  display: flex;
  align-items: center;
  gap: 28px;
  padding: 0px 0px 0px 30px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.betreuungszeiten-BBS .aktiver-bereich {
  display: inline-flex;
  align-items: center;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-color: #fdc93a;
}

.betreuungszeiten-BBS .div {
  position: relative;
  width: fit-content;
  font-family: "Carlito", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.betreuungszeiten-BBS .bereich {
  position: relative;
  width: fit-content;
  font-family: "Carlito", Helvetica;
  font-weight: 400;
  color: #66665f;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.betreuungszeiten-BBS .div-2 {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.betreuungszeiten-BBS .initialen {
  display: flex;
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #f8f8f5;
  border-radius: 100px;
  overflow: hidden;
}

.betreuungszeiten-BBS .k-rzel {
  position: relative;
  width: fit-content;
  font-family: "Carlito", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.betreuungszeiten-BBS .benutzer {
  display: flex;
  flex-direction: column;
  width: 104px;
  align-items: flex-start;
  gap: 1px;
  position: relative;
}

.betreuungszeiten-BBS .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Carlito", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.betreuungszeiten-BBS .text-wrapper-3 {
  position: relative;
  width: fit-content;
  font-family: "Carlito", Helvetica;
  font-weight: 400;
  color: #66665f;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.betreuungszeiten-BBS .img {
  position: relative;
  width: 18px;
  height: 18px;
}


.betreuungszeiten-BBS .arbeitsbereich {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 32px 48px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.betreuungszeiten-BBS .bersicht {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.betreuungszeiten-BBS .div-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.betreuungszeiten-BBS .seitentitel {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  position: relative;
  flex: 0 0 auto;
}

.betreuungszeiten-BBS .titel {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Carlito", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 36px;
  letter-spacing: -0.22px;
  line-height: normal;
}

.betreuungszeiten-BBS .beschreibung {
  position: relative;
  width: fit-content;
  font-family: "Carlito", Helvetica;
  font-weight: 400;
  color: #66665f;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
}

.betreuungszeiten-BBS .aktion {
  display: inline-flex;
  height: 42px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0px 16px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid;
  border-color: #dddddd;
  margin-left:3vh;
}


.betreuungszeiten-BBS .div-4 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  min-width: 0;
  flex: 0 0 auto;
  flex-wrap: nowrap;
}


.betreuungszeiten-BBS .eingabefeld {
  width: 228px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.betreuungszeiten-BBS .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Carlito", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.betreuungszeiten-BBS .eingabe {
  display: flex;
  height: 44px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid;
  border-color: #dddddd;
}

.betreuungszeiten-BBS .wert {
  position: relative;
  width: fit-content;
  font-family: "Carlito", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.betreuungszeiten-BBS .eingabefeld-2 {
  display: flex;
  flex-direction: column;
  width: 176px;
  align-items: flex-start;
  gap: 7px;
  position: relative;
}

.betreuungszeiten-BBS .eingabefeld-3 {
  width: 236px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
  position: relative;
}

.betreuungszeiten-BBS .aktion-2 {
  display: inline-flex;
  height: 42px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0px 16px;
  position: relative;
  flex: 0 0 auto;
  background-color: #fdc93a;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid;
  margin-bottom: 1%;
}

.betreuungszeiten-BBS .datenhinweis {
  display: flex;
  height: 44px;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.betreuungszeiten-BBS .text-wrapper-5 {
  position: relative;
  width: fit-content;
  font-family: "Carlito", Helvetica;
  font-weight: 400;
  color: #66665f;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.betreuungszeiten-BBS .beispieldaten {
  display: inline-flex;
  align-items: flex-start;
  padding: 5px 10px;
  position: relative;
  flex: 0 0 auto;
  background-color: #dddddd;
  border-radius: 6px;
  overflow: hidden;
}

.betreuungszeiten-BBS .kennzeichnung {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Carlito", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.betreuungszeiten-BBS .kennzahlen-im {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  overflow: hidden;
}

.betreuungszeiten-BBS .kennzahl {
  display: flex;
  height: 104px;
  align-items: center;
  gap: 16px;
  padding: 20px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #fff7dd;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid;
  border-color: #fdc93a;
}

.betreuungszeiten-BBS .kennzahlensymbol {
  position: relative;
  width: 42px;
  height: 42px;
}

.betreuungszeiten-BBS .div-5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.betreuungszeiten-BBS .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Carlito", Helvetica;
  font-weight: 400;
  color: #66665f;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.betreuungszeiten-BBS .wert-und-kontext {
  display: flex;
  align-items: baseline;
  gap: 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.betreuungszeiten-BBS .wert-2 {
  font-size: 30px;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Carlito", Helvetica;
  font-weight: 700;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.betreuungszeiten-BBS .kennzahl-2 {
  display: flex;
  height: 104px;
  align-items: center;
  gap: 16px;
  padding: 20px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid;
  border-color: #dddddd;
}

.betreuungszeiten-BBS .neue-zeitbuchung {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  padding: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid;
  border-color: #dddddd;
  margin-left:3vh;
}

.betreuungszeiten-BBS .div-6 {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.betreuungszeiten-BBS .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Carlito", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.betreuungszeiten-BBS .entwurfsstatus {
  display: inline-flex;
  align-items: flex-start;
  padding: 4px 9px;
  position: relative;
  flex: 0 0 auto;
  background-color: #f8f8f5;
  border-radius: 6px;
  overflow: hidden;
}

.betreuungszeiten-BBS .status {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Carlito", Helvetica;
  font-weight: 400;
  color: #66665f;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.betreuungszeiten-BBS .eingabefeld-4 {
  width: 190px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
  position: relative;
}

.betreuungszeiten-BBS .eingabefeld-5 {
  flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
  position: relative;
}

.betreuungszeiten-BBS .eingabefeld-6 {
  width: 172px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
  position: relative;
}

.betreuungszeiten-BBS .wert-wrapper {
  justify-content: space-around;
  border: 1px solid;
  border-color: #dddddd;
  display: flex;
  height: 44px;
  align-items: center;
  padding: 0px 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
  border-radius: 6px;
  overflow: hidden;
}

.betreuungszeiten-BBS .eingabefeld-7 {
  width: 196px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
  position: relative;
}

.betreuungszeiten-BBS .eingabe-2 {
  justify-content: space-between;
  border: 1.5px solid;
  border-color: #000000;
  display: flex;
  height: 44px;
  align-items: center;
  padding: 0px 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
  border-radius: 6px;
  overflow: hidden;
}

.betreuungszeiten-BBS .div-7 {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.betreuungszeiten-BBS .info {
  position: relative;
  width: 16px;
  height: 16px;
}

.betreuungszeiten-BBS .hinweis {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: "Carlito", Helvetica;
  font-weight: 400;
  color: #66665f;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.betreuungszeiten-BBS .buchungen-und {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.betreuungszeiten-BBS .zeitbuchungstabelle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid;
  border-color: #dddddd;
}

.betreuungszeiten-BBS .tabellenkopf {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.betreuungszeiten-BBS .anzahl {
  display: inline-flex;
  align-items: flex-start;
  padding: 2px 8px;
  position: relative;
  flex: 0 0 auto;
  background-color: #f8f8f5;
  border-radius: 100px;
  overflow: hidden;
}


.betreuungszeiten-BBS .spaltenbeschriften {
  display: flex;
  height: 44px;
  align-items: center;
  gap: 20px;
  padding: 0px 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #f8f8f5;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #dddddd;
}

.betreuungszeiten-BBS .datumsortierung {
  display: flex;
  width: 155px;
  align-items: center;
  gap: 6px;
  position: relative;
}

.betreuungszeiten-BBS .arrow-down {
  position: relative;
  width: 14px;
  height: 14px;
}

.betreuungszeiten-BBS .spaltenname {
  width: 190px;
  font-weight: 700;
  color: #000000;
  position: relative;
  font-family: "Carlito", Helvetica;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.betreuungszeiten-BBS .spaltenname-2 {
  width: 180px;
  font-weight: 700;
  color: #000000;
  position: relative;
  font-family: "Carlito", Helvetica;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.betreuungszeiten-BBS .spaltenname-3 {
  width: 142px;
  font-weight: 700;
  color: #000000;
  text-align: right;
  position: relative;
  font-family: "Carlito", Helvetica;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.betreuungszeiten-BBS .spaltenname-4 {
  width: 222px;
  font-weight: 700;
  color: #000000;
  text-align: right;
  position: relative;
  font-family: "Carlito", Helvetica;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.betreuungszeiten-BBS .spaltenname-5 {
  flex: 1;
  font-weight: 400;
  color: #66665f;
  text-align: right;
  position: relative;
  font-family: "Carlito", Helvetica;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.betreuungszeiten-BBS .zeitbuchung {
  display: flex;
  height: 49px;
  align-items: center;
  gap: 20px;
  padding: 0px 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #dddddd;
}

.betreuungszeiten-BBS .tabellenwert {
  position: relative;
  width: 155px;
  font-family: "Carlito", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.betreuungszeiten-BBS .tabellenwert-2 {
  width: 190px;
  font-weight: 700;
  position: relative;
  font-family: "Carlito", Helvetica;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.betreuungszeiten-BBS .lehrkraft {
  display: flex;
  width: 180px;
  align-items: flex-start;
  position: relative;
}

.betreuungszeiten-BBS .krzel {
  display: inline-flex;
  align-items: flex-start;
  padding: 4px 9px;
  position: relative;
  flex: 0 0 auto;
  background-color: #f8f8f5;
  border-radius: 4px;
  overflow: hidden;
}

.betreuungszeiten-BBS .tabellenwert-3 {
  width: 142px;
  font-weight: 400;
  text-align: right;
  position: relative;
  font-family: "Carlito", Helvetica;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.betreuungszeiten-BBS .tabellenwert-4 {
  width: 222px;
  font-weight: 700;
  text-align: right;
  position: relative;
  font-family: "Carlito", Helvetica;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}


.betreuungszeiten-BBS .stundensumme {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #fff7dd;
}

.betreuungszeiten-BBS .tabellenabschluss {
  display: flex;
  height: 56px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.betreuungszeiten-BBS .img-2 {
  position: relative;
  flex: 0 0 auto;
}

.betreuungszeiten-BBS .betreuungsstunden-je {
  display: flex;
  flex-direction: column;
  width: 360px;
  align-items: flex-start;
  gap: 16px;
  position: relative;
}

.betreuungszeiten-BBS .lehrkräftebersicht {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid;
  border-color: #dddddd;
}

.betreuungszeiten-BBS .titel-2 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Carlito", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.betreuungszeiten-BBS .zeitraum {
  position: relative;
  align-self: stretch;
  font-family: "Carlito", Helvetica;
  font-weight: 400;
  color: #66665f;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 19.6px;
}

.betreuungszeiten-BBS .lehrkraftauswertung {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding: 20px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #dddddd;
}

.betreuungszeiten-BBS .lehrkraft-und {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.betreuungszeiten-BBS .lehrkraftkrzel {
  display: flex;
  width: 44px;
  height: 38px;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #f8f8f5;
  border-radius: 6px;
  overflow: hidden;
}

.betreuungszeiten-BBS .name {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Carlito", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.betreuungszeiten-BBS .betreuungsstunden {
  position: relative;
  width: fit-content;
  font-family: "Carlito", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 19px;
  letter-spacing: 0;
  line-height: normal;
}

.betreuungszeiten-BBS .stundenvergleich {
  display: flex;
  height: 5px;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #f8f8f5;
  border-radius: 100px;
  overflow: hidden;
}

.betreuungszeiten-BBS .erfasste-stunden {
  position: relative;
  width: 272px;
  height: 5px;
  background-color: #fdc93a;
  border-radius: 100px;
}

.betreuungszeiten-BBS .erfasste-stunden-2 {
  width: 190px;
  position: relative;
  height: 5px;
  background-color: #fdc93a;
  border-radius: 100px;
}

.betreuungszeiten-BBS .erfasste-stunden-3 {
  width: 145px;
  position: relative;
  height: 5px;
  background-color: #fdc93a;
  border-radius: 100px;
}

.betreuungszeiten-BBS .gesamtsumme {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.betreuungszeiten-BBS .summe {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Carlito", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.betreuungszeiten-BBS .hinweis-zur {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #fff7dd;
  border-radius: 10px;
  overflow: hidden;
}

.betreuungszeiten-BBS .hinweistitel {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.betreuungszeiten-BBS .info-2 {
  position: relative;
  width: 17px;
  height: 17px;
}

.betreuungszeiten-BBS .erl-uterung {
  position: relative;
  align-self: stretch;
  font-family: "Carlito", Helvetica;
  font-weight: 400;
  color: #66665f;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20.3px;
}

.flex-wrapper-div-4{
  display:flex;
}
